:root { /*нумерация от светлых к темным*/
	--peach: #F4B1A4;

	--light-orange: #F49774;
	--orange: #DC6243;

	--red: #FF0000;
	--dark-red-cherry: #491213;

	--white: #FFFFFF;
	--white-advant-1: rgba(255, 255, 255, 0.9);
	--white-advant-3: rgba(255, 255, 255, 0.7);

	--more-light-black: #333333;
	--light-black: #231F20;
	--black: #000000;
	--black-advant-3: rgba(0, 0, 0, 0.3);

	--blue: #23A9E1;

	--light-gray-blue-lighter: #81B3D3;
	--light-gray-blue: #81B3D2;

	--gray-blue-lighter: #669EC0;
	--gray-blue: #5496BD;

  --light-gray-more-light: #888888;
	--light-gray-very-light: #F2F2F2;
	--light-gray-lighter: #EEEEEE;
	--light-gray: #EBEBEB;
	--light-gray-darker: #E5E5E5;
	--light-gray-very-dark: #CACACA;

	--gray-lighter: #BDBBBC;
	--gray: #A9A9A9;
	--gray-darker: #ABABAB;

	--dark-gray-lighter: #6A6A6A;
	--dark-gray: #666666;

	--brown-lighter: #766458;
	--brown: #766357;
	--brown-darker: #604E43;

	--dark-brown: #503E33;
}

/*global*/

.page-wrapper {
	background-color: var(--light-gray-very-light);
}

.page-body { 
	background-color: var(--white);
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	padding: 0;
	text-transform: uppercase;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1200px;
	width: 1200px;
	min-height: 100vh;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
	background-color: var(--white);
	margin: 0 auto;
}

.link {
	color: var(--black);
	text-decoration: none;
}

.hidden { 
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*header*/

.header {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

.navigation { 
	display:grid;
	grid-template-rows: 56px;
	position: relative;
}

.link-logo { 
	order: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	position: absolute;
	justify-self: center;
}

.site-navigation {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 42px;
	flex-wrap: wrap;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.site-navigation-item {
	width: 300px;
}

.site-navigation-item:first-child {
	padding-left: 72px;
	width: 228px;
}

.site-navigation-item:nth-child(3) {
	text-align: right;
}

.site-navigation-item:last-child {
	text-align: right;
	padding-right: 72px;
	width: 228px;
}

.site-navigation-item .link:hover {
	color: var(--light-gray-blue);
}

.site-navigation-item .link:active {
	color: var(--black-advant-3);
}

.current-page { 
	color: var(--brown);
}

/*main*/

.wrapper {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: min-content min-content 
	min-content min-content;
	grid-template-columns: 1fr;
}

.header-title {
	background-color: var(--gray-blue);
	min-height: 509px;
	margin-bottom: 41px;
	background-image: url(../img/mountain-view-mask.svg), url(../img/mountain-view.jpg);
	background-position-x: center, left;
	background-position-y: bottom, top;
	background-repeat: no-repeat;
}

.header-title-text {
	padding-top: 77px;
}

.reason {
	grid-row: 1;
	margin-bottom: 58px;
} 

.reason-header {
	grid-row: 2;
	margin-bottom: 52px;
}

.reason-header-title {
	font-size: 21px;
	font-weight: bold;
	line-height: 27px;
	padding: 0;
	margin: 0 auto 42px auto;
	max-width: 470px;
}

.hotel-title {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.hotel-title:hover {
	color: var(--light-gray-blue);
}

.hotel-title:active {
	color: var(--black-advant-3);
}

.reason-header-description {
	font-size: 14px;
	line-height: 26px;
}

.reason-list {
	list-style-type: none;
	grid-row: 3;
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 256px 330px 256px 256px;
}

.reason-invert {
	background-color: var(--light-gray-blue);
	color: var(--white);
}

.reason-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0px;
}

.item-city {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start:1;
	grid-column-end: 4;
}

.item-city-summary {
	display: grid;
	grid-template-columns: 400px 800px;
	grid-template-rows: min-content;
}

.item-city-text {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;	
}

.item-city-picture {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 4;	
}

.item-city-house {
	height: 132px;
	width: 400px;
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}

.item-city-food {
	height: 132px;
	width: 400px;
	background-image: url(../img/icon-food.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}

.item-city-souvenir {
	height: 132px;
	width: 400px;
	background-image: url(../img/icon-gift.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}

.item-bridge {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start:1;
	grid-column-end: 4;
	display: grid;
	grid-template-columns: 800px 400px;
	grid-template-rows: min-content;
}

.item-bridge-photo {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.item-bridge-text {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.item-area {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: var(--light-gray-lighter);
}

.item-road {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: var(--light-gray-lighter);
}

.item-tourists {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: var(--light-gray-lighter);
}

.reason-title {
	font-size: 21px;
	font-weight: bold;
	line-height: 22px;
	max-width: 151px;
	padding: 0;
	margin: 48px auto 24px auto;
}

.item-bridge-text .reason-title {
	line-height: 23px;
	margin: 50px auto 24px auto;
}

.item-city-title {
	font-size: 21px;
	font-weight: bold;
	line-height: 22px;
	max-width: 160px;
	padding: 0;
	margin: 28px auto 25px auto;
}

.reason-description {
	font-size: 14px;
	line-height: 22px;
	max-width: 305px;
	margin: 0 auto 22px auto;
	padding: 0;
}

.item-area .reason-description, .item-tourists .reason-description {
	max-width: 259px;
}

.item-road .reason-description {
	max-width: 265px;
}

.search-hotel {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.search-text {
	margin: 0;
	padding: 0;
}

.search-hotel-title {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 32px 0;
	padding: 0;
}

.search-hotel-description {
	font-size: 14px;
	line-height: 24px;
	padding: 0;
	max-width: 435px;
}

.search-hotel-description:nth-child(2) {
	margin: 0 0 6px 0;
}

.search-hotel-description:last-child {
	margin: 0 0 44px 0;
}

.button-search {
	padding: 30px 140px 30px 140px;
}

.search-filter {
	background-color: var(--gray-darker);
}

.search-found-parameter {
	display: grid;
	grid-template-rows: 86px;
	grid-template-columns: 135px 1fr 110px;
	column-gap: 29px;
	padding: 0 72px 0 72px;
}

.search-header {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-top: auto;
	margin-bottom: auto;
}

.search-parameter-summary {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search-parameter-header {
	font-size: 12px;
	line-height: 18px;
	margin: auto 42px auto 0;
	padding: 0;
}

.search-parameter-list {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search-parameter {
	font-size: 12px;
	line-height: 18px;
	margin: auto 31px auto 0;
	padding: 0;
}

.search-parameter-link {
	border-bottom: 1px dashed var(--light-gray-blue);
	color: var(--black-advant-3);
}

.search-parameter-link:hover {
	color: var(--light-gray-blue);
}

.search-parameter-link:active {
	border-bottom: none;
	color: var(--black);
}

.current-search {
	border-bottom: none;
	color: var(--light-gray-blue);
}

.sort-up-down {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.sort-item:not(:last-child) {
	margin-right: 12px;
}

.sort-parameter {
	color: var(--light-gray-very-dark);
}

.sort-parameter:hover {
	color: var(--black);
}

.sort-parameter:active {
	color: var(--light-gray-blue);
}

.current-sort{
	color: var(--light-gray-blue);
}

.hotel-list {
	display: grid;
	grid-template-rows: 151px 151px 151px 120px;
	grid-template-columns: 1fr;
	column-gap: 29px;
}

.hotel-list-item {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 207px 1fr 110px;
	column-gap: 29px;
	border-bottom: 1px solid var(--light-gray-darker);
}

.hotel-list-item:first-child {
	border-top: 1px solid var(--light-gray-darker);
}

.hotel-preview {
	max-width: 135px;
	margin-top: auto;
	margin-bottom: 30px;
	margin-left: 72px;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

.hotel-information {
	margin-top: auto;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

.hotel-rating {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 29px;
	margin-bottom: 30px;
	margin-right: 72px;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
}

.first-hotel-item {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
}

.second-hotel-item {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 1;
}

.third-hotel-item {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 1;
}

.hotel-header {
	padding: 0 0 0 0;
	margin: 0 0 7px 0;
}

.hotel-title {
	padding: 0;
	margin: 0;
}

.hotel-description {
	padding: 0;
	margin: 0 0 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.hotel-description .search-description {
	margin: 0;
}

.hotel-description .search-description:first-of-type {
	width: 110px;
	margin-right: 5px;
}

.hotel-description .search-description:nth-of-type(2) {
	width: 110px;
}

.hotel-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.hotel-button .search-description:first-of-type {
	margin-right: 6px;
	padding: 3px 18px 3px 17px;
}

.hotel-button .search-description:nth-of-type(2) {
	padding: 3px 18px 3px 17px;
}

.item-invisible {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 1;
	min-height: 120px;
}

.button {
	border: none;
	color: var(--white);
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	vertical-align: middle;
	display: block;
}

.button-action {
	background-color: var(--brown);

}

.button-action:hover {
	background-color: var(--brown-darker);

}

.button-action:active {
	background-color: var(--dark-brown);
	color: var(--white-advant-3);
}

/*search form*/

.search-popup { 
	width: 570px;
	height: 397px;
	background-color: var(--white);
	position: absolute;
	z-index: 1;
	transform: translateY(232px);
	padding: 55px;
	box-sizing:border-box;
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form-wrapper { 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100%;
}

.search-form-parameter {
	width: 100%;
}

.search-parameter-group { 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 100%;
}

.search-parameter-group .search-parameter-text {
	min-width: 50%;
}

.background-long .input { 
	box-sizing: border-box;
	width: 346px;
	padding: 7px 50px 7px 13px;
	color: var(--black);
	border: 0;
	height: 38px;
	background-color: var(--light-gray-very-light);
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	text-transform: inherit;
}

.background-long:hover .input {
	background-color: var(--light-gray);
}

.background-long .input:focus {
	background-color: var(--white);
	outline: 2px solid var(--light-gray-darker);
}

.background-short .input { 
	border: none;
	background-color: var(--light-gray-very-light);
	box-sizing: border-box;
	width: 116px;
	padding: 7px 11px 7px 11px;
	color: var(--black);
	border: 0;
	height: 38px;
	text-align: center;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	text-transform: inherit;
}

.background-short:hover .input {
	background-color: var(--light-gray);
}

.background-short .input:focus {
	background-color: var(--white);
	outline: 2px solid var(--light-gray-darker);
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.search-parameter-text { 
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 30px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 38px;
	position: relative;
	text-align: left;
	width: 100%;
}

.background-short:nth-child(2) .search-parameter-item {
	padding-left: 53px;
}

.button-calendar {
	width: 25px;
	height: 25px;
	position: absolute;
	transform: translateX(430px);
}

.button-calendar:hover path {
	fill: var(--black);
}

.button-calendar:active path {
	fill: var(--light-gray-blue);
}

.button-minus {
	width: 11px;
	height: 11px;
	position: absolute;
	transform: translateX(127px);
}

.button-minus:hover rect {
	fill: var(--black);
}

.button-minus:active rect {
	fill: var(--light-gray-blue);
}

.button-plus {
	width: 11px;
	height: 11px;
	position: absolute;
	transform: translateX(205px);
}

.button-plus:hover path {
	fill: var(--black);
}

.button-plus:active path {
	fill: var(--light-gray-blue);
}

.button-info {
	background-color: var(--light-gray-blue);
}

.button-info:hover {
	background-color: var(--gray-blue-lighter);
}

.button-info:active {
	background-color: var(--gray-blue);
	color: var(--white-advant-3);
}

.button-find {
	padding: 17px 195px 17px 195px;
	margin: 0;
}

.button-sort-up {
	width: 11px;
	height: 10px;
}

.button-sort-up:hover path {
	fill: var(--black);
}

.button-sort-up:active path {
	fill: var(--light-gray-blue);
}

.button-sort-down {
	width: 11px;
	height: 10px;
}

.button-sort-down:hover path {
	fill: var(--black);
}

.button-sort-down:active path {
	fill: var(--light-gray-blue);
}

.search-description {
	font-size: 14px;
	line-height: 21px;
}

.star-group {
	color: var(--light-gray-blue);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.star {
	width: 19px;
	height: 17px;
	background-image: url(../img/icon-star.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.star-group-item:not(:last-child) {
	margin-right: 5px;
}

.rating {
	background-color: var(--light-gray-very-light);
	border: none;
	color: var(--dark-gray);
	text-align: center;
	padding: 3px 0 3px 0;
	margin: 0;
	width: 110px;
}

.hotel-search-filter {
	height: 217px;
	background-color: var(--gray-blue);
	background-image: url(../img/mountain-view-blur.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	box-sizing: border-box;
}

.filter-form {
	margin: 0 72px 0 72px;
	min-height: 100%;
}

.filter-list {
	display: grid;
	grid-template-columns: 250px 250px 1fr 319px;
	grid-template-rows: 144px 1fr;
	grid-gap: 5px;
	height: 217px;
}

.filter-list-item {
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin: 25px 0 auto 0;
	padding: 0;
	border: none;
	vertical-align: middle;
}

.list-item {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.checkbox + .list-item::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 27px;
	height: 23px;
	background-image: url(../img/icon-checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.checkbox:checked + .list-item::before {
	background-image: none;
}

.checkbox:checked + .list-item::after {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 27px;
	height: 23px;
	background-image: url(../img/icon-checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.checkbox:checked:disabled + .list-item::before {
	background-image: none;
}

.checkbox:checked:disabled + .list-item::after {
	background-image: url(../img/icon-checkbox-on-disabled.svg);
}

.checkbox:disabled + .list-item::before {
	background-image: url(../img/icon-checkbox-off-disabled.svg);
}

.checkbox:disabled + .list-item::after {
	background-image: none;
}

.filter-service-list {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

.filter-type-list {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

.filter-price {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 5;
}

.filter-list-header {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	padding: 0 0 25px 0;
}

.filter-price .filter-list-header {
	padding-bottom: 12px;
}

.filter-list-text {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0 0 25px 40px;
	position: relative;
}

.filter-list-text:last-child {
	padding-bottom: 0;
}

.checkbox {
	position: absolute;
	transform: translateX(-20px);
}

.price-range {
	width: 319px;
}

.price-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 32px;
	border: 2px solid var(--white);
	border-radius: 2px;
	margin-bottom: 20px;
}

.price-digit {
	min-width: 50%;
	height: 22px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.price-digit:first-child {
	border-right: 2px solid var(--white);
}

.price-min {
	display: block;
	align-self: center;
	line-height: 21px;
	font-size: 14px;
}

.price-max {
	line-height: 21px;
	font-size: 14px;
}

.price-input {
	background: transparent;
	color: inherit;
	border: none;
	line-height: 21px;
	font-size: 14px;
}

.price-min + .price-input {
	width: 70px;
}

.price-max + .price-input {
	width: 80px;
}

.range-controls {
	position: relative;
	height: 35px;
	background-color: transparent;
}

.scale {
	height: 2px;
	background: var(--white-advant-3);
}

.bar {
	width: 250px;
	height: 2px;
	background: var(--white);
	margin-left: 8px;
}

.toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--white);
	background-color: var(--gray-darker);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--black-advant-3);
	cursor: pointer;
}

.toggle:hover {
	border: 10px solid var(--white);
}

.toggle-min {
	transform: translateY(-40px);
}

.toggle-min:hover {
	transform: translateY(-42px) translateX(-2px);
}

.toggle-max {
	transform: translateX(255px) translateY(-40px);
}

.toggle-max:hover {
	transform: translateX(253px) translateY(-42px);
}

.button-show {
	background: transparent;
	font-size: 14px;
	font-style: inherit;
	text-transform: inherit;
	font-weight: inherit;
	line-height: 21px;
	border: 2px solid var(--white);
	border-radius: 2px;
	margin: 0 auto auto 86px;
	width: 137px;
	height: 36px;
	text-align: center;
	padding: 0;
	align-self: center;
	cursor: pointer;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 5;
}

.button-show:hover {
	background-color: var(--white);
	color: var(--black);
}

/*footer*/

.footer {
	background-color: var(--white-advant-3);
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	align-self: end;
	z-index: 1;
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 120px;
	padding: 0 56px 0 56px;
	margin: 0 0 0 0;
}

.footer-item {
	width: 400px;
}

.footer-contact {
	font-size: 21px;
	font-weight: bold;
	line-height: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-contact-item {
	padding: 0;
	margin: 2px 0 16px 0;
}

.footer-social-button {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.social-button {
	background-color: var(--light-gray-blue);
	margin-right: 6px;
}

.social-button:nth-child(3) {
	margin-right: 0;
}

.social-button:hover {
	background-color: var(--gray-blue-lighter);
}

.social-button:active {
	background-color: var(--gray-blue);
	color: var(--white-advant-3);
}

.social-button:active path {
	fill: var(--white-advant-3);
}

.social-button .link {
	display: flex;
	width: 46px;
	height: 48px;
	justify-content: center;
	align-items: center;
}

.footer-developed-by {
	font-size: 14px;
	line-height: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.copyright {
	margin: 0 9px 0 0;
	padding: 0 0 0 0;
}

.copyright-link {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.copyright-link:hover path {
	fill: var(--gray-blue);
}

.copyright-link:active path {
	fill: var(--gray-lighter);
}

.copyright-link .link {
	margin: 0;
	padding: 0;
}

.reason, .search-hotel, .footer {
	text-align: center;
}